[project]
	description = Server FileExplorer Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Luu Viet Anh (vietkute02)
[access "refs/for/refs/*"]
	read = group user/Luu Viet Anh (vietkute02)
	push = group user/Luu Viet Anh (vietkute02)
	label-Code-Review = -2..+2 group user/Luu Viet Anh (vietkute02)
	label-Verified = -1..+1 group user/Luu Viet Anh (vietkute02)
	rebase = group user/Luu Viet Anh (vietkute02)
	removeReviewer = group user/Luu Viet Anh (vietkute02)
	submit = group user/Luu Viet Anh (vietkute02)
[access "refs/heads/*"]
	read = group user/Luu Viet Anh (vietkute02)
	create = group user/Luu Viet Anh (vietkute02)
	push = +force group user/Luu Viet Anh (vietkute02)
	pushMerge = group user/Luu Viet Anh (vietkute02)
[access "refs/tags/*"]
	push = +force group user/Luu Viet Anh (vietkute02)
	pushTag = group user/Luu Viet Anh (vietkute02)
	pushSignedTag = group user/Luu Viet Anh (vietkute02)
